.display {
    text-align: center;
}


.displayGifs {
    padding: 20px;
}

.inputs {
    margin-bottom:20px;
}

h1 {
    margin: 0px;
}

img {
    width:200px;
    height:200px;
    margin:10px;
    border: 2px solid black;
    border-radius: 5px;
}
